<div id="<%= dom_id task %>">
  <div>
    <strong>Title:</strong>
    <%= task.title %>
  </div>

  <div>
    <strong>Target time:</strong>
    <%= task.target_time %>
  </div>

  <div>
    <strong>Timer type:</strong>
    <%= task.timer_type %>
  </div>

</div>
